
.fadein {
  opacity: 0;
  -moz-transition: opacity 1.5s;
  -webkit-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  transition: opacity 1.5s;
}

body.loaded .fadein {
  opacity: 1;
}
@media (min-width: 300px) {
  .float-none.p-5 {
    padding: 0 !important;
  }
}

@media (max-width: 576px) {
  .card-group.p-3 {
    display: inline;
  }
  #userName{
    display: none;
  }
}

@media (max-width: 576px) {
  .card {
    margin-top: 10px;
  }
}

@media (max-width: 300px) {
  .text-dark.mb-4 {
    /*width: 800px !important;*/
  }
}

@media (max-width: 500px) {
  .d-flex {
    display: initial !important;
  }
}


